html {
    background-color: rgb(85,85,85);
    font-family: 'Courier New', monospace;
    font-size: 14pt;
}
h1 {
    font-family: Arial, sans-serif;
    font-size: 48pt;
    color: rgb(255,238,230);
    background-image: url(../images/background.jpg);
    background-repeat: repeat-x;
    margin: 0px;
    padding: 30px;
    text-align: center;
}
cite, figcaption {
    font-size: 12pt;
}
nav {
    float: left;
    width: 25%;
}
nav > a, nav > a:visited {
    font-size: 28pt;
    color: rgb(102,179,255);
    display: block;
    background-color: rgb(0,34,204);
    width: 80%;
    box-shadow: 5px 5px;
    padding-left: 3px;
    text-decoration: none;
    overflow: hidden;
    text-align: center;
}
nav > a:hover {
    background-color: rgb(102,179,255);
    color: rgb(255,238,230);
    overflow: hidden;
}
p, li, h4, label, a:hover {
    color: rgb(255,238,230);
    padding-left: 15px;
    padding-right: 15px;
}
a:link, figcaption {
    color: rgb(153,204,255);
}
a:visited {
    color: rgb(179,102,255);
}
h4, hr {
    font-weight: bold;
}
legend {
    font-size: 16pt;
    color: rgb(102,179,255);
}
textarea {
    width: 100%;
}
.content {
    float: left;
    width: 45%;
}
.contact {
    float: right;
    width: 25%;
    background-color: rgb(0,34,204);
    border: 5px solid rgb(102,179,255);
    overflow: auto;
}
.contact > h2 {
    text-align: center;
}
.contentHeader {
    font-size: 24pt;
    color: rgb(247,255,204);
}
.secHeader {
    font-size: 20pt;
    color: rgb(247,255,204);
}
.subHeader {
    font-size: 16pt;
    color: rgb(102,179,255);
}
.restuarantLogo {
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.review {
    padding: 10pt;
    max-height: 100px;
    overflow-y: scroll;
    width: 40%;
}
.column {
    width: 12%;
    float: left;
    overflow: auto;
    padding: 5pt;
    text-align: center;
}
#headshot {
    width: 10%;
}
#profilePic {
    margin-top: 0px;
    padding: 0px;
}
#requestType1, #requestType2 {
    color: rgb(255,238,230);
}
#quote {
    font-family: Verdana, sans-serif;
    font-size: 18pt;
    color: black;
    background-color: rgb(102,179,255);
    margin: 15px;
    padding: 10px;
}
/* Mobile Rules (phones and tablets) */
@media only screen and (max-width: 800px) {
    .content, .contact, #headshot, .column, .review {
        width: 100%;
        padding: 0;
    }
    nav {
        float: none;
        width: 100%;
    }
}
